<ion-view title="312 Urban Wheat Ale">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <center><img src="img/lKl5YDAFQQePECj0Ppq5_Goose-Island-312-Urban-Wheat-Ale-300x300.png" width="75%" height="auto" style="width: 75%; height: auto;"></center>
        <div>
            <p>
                <strong>Brewer's Notes:</strong>
            </p>

            <p>Inspired by the city of Chicago and densely populated with flavor, 312’s spicy aroma of Cascade hops is followed by a crisp, fruity ale flavor delivered in a smooth, creamy body that's immensely refreshing.</p>

            <p>
                <strong>ABV:</strong>4.2%
                <strong>IBU:</strong>18</p>
        </div>
        <form class="list">
            <ion-item class="range range-energized">Keg Level
                <input type="range" disabled="true" value="661" min="0" max="661" name="Keg Level">
            </ion-item>
            <div class="spacer" style="width: 300px; height: 11px;"></div>
            <center><h4>Pour a beer!</h4></center>
            <div class="button-bar">
                <button class="button  button-block ">8oz</button>
                <button class="button  button-block ">12oz</button>
                <button class="button  button-block ">16oz</button>
            </div>
        </form>
    </ion-content>
</ion-view>