<ion-view title="Add Keg">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select">
                <span class="input-label">Keg Size</span>
                <select>
                    <option>Sixth Barrel</option>
                    <option>Quarter Barrel</option>
                    <option>Half Barrel</option>
                </select>
            </label>
            <a href="#/page1" class="button button-positive button-block ">Add Keg</a>
            <a href="#/page1" class="button button-stable button-block ">Cancel</a>
        </form>
    </ion-content>
</ion-view>