<ion-view view-title="{{ keg.name }}">
	<ion-content>

		<center>
			<img ng-src="{{ keg.image }}" width="70%" height="auto" style="width: 70%; height: auto;">
		</center>

		<div>

			<div class="card">

				<div class="item item-divider">
	    		Brewer's Notes:
	  			</div>

	  			<div class="item item-text-wrap">
	    		{{ keg.description }}
	  			</div>

			</div>

			<div class="list card">

	  			<div class="item item-icon-left">
			    <i class="icon ion-beer"></i>
			    {{ keg.style }}
			  	</div>

			  	<div class="item item-icon-left">
			    <i class="icon ion-android-bar"></i>
			    ABV: {{ keg.abv }}%
			  	</div>

	    		<div class="item item-icon-left">
			    <i class="icon ion-ios-flower"></i>
			    IBU: {{ keg.ibu }}
			  	</div>

				<div class="item item-icon-left">
			    <i class="icon ion-ios-pint"></i>
			    This beer is best enjoyed if served in a {{ keg.glass }} Glass.
			  	</div>

  			</div>
			
		</div>

		
			<ion-item class="range range-energized">Keg Level
				<input type="range" disabled="true" value="{{ keg.capacity - keg.consumed }}" min="0" max="{{ keg.capacity }}" name="Keg Level"><p>~{{ (keg.capacity - keg.consumed) / 16 }} pints remaining</p>
			</ion-item>

			<div class="button-bar">
				<button class="button  button-block ">8oz</button>
				<button class="button  button-block ">12oz</button>
				<button class="button  button-block ">16oz</button>
			</div>
			
		

	</ion-content>
</ion-view>
