<ion-view view-title="Kegs">

	<ion-nav-buttons side="right">
		<a class="button button-clear" ui-sref="app.create">
			New
		</a>
	</ion-nav-buttons>

	<ion-content>
		<ion-list>
			<div class="item" ng-show="!kegs">
				<p>No kegs. <a ui-sref="app.create">Add a keg</a>?</p>
			</div>
			<a ui-sref="app.keg({ kegId: keg.id })" class="item item-thumbnail-left" ng-repeat="keg in kegs">
				<img ng-src="{{ keg.image }}" />
				<h2>{{ keg.name }}</h2>
				<p ng-if="keg.abv">ABV: {{ keg.abv }}%</p>
				<p>{{ keg.capacity - keg.consumed }}{{ keg.unit }} ({{ ((keg.capacity - keg.consumed) / keg.capacity) * 100 | number:1 }}%) remaining</p>
			</a>
		</ion-list>
	</ion-content>
</ion-view>
